<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tony Stark</title>
  <link rel="stylesheet" href="style.css"
</head>

<body>
    <header>
        <nav>
          <img src="./aperture.svg" alt="Header Logo">
          <a href="">HOME</a>
          <a href="">WIKI</a>
          <a href="">GIT HUB</a>
          <a href="">LINKEDIN</a>
        </navbar>
      </header>
      <style>
        body {
          background-image: url('./topography.png');
          background-attachment: fixed;
           background-size: 66% 66%;
        }
        </style>
  <h1>Tony Stark</h1>
  <h2>Fullstack Software Developer</h2>
  <h3>I love to design complex systems with high levels of automation includng AI
      and robotics. I'm deeply interested in inventing new things that can augment the human experience.
  </h3>

</body>

</html>